name: CI Intermodular ConVive

on:
  push:
    branches:
      - develop
      - "feature/*"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Compilar y ejecutar tests
        run: mvn -B clean verify
        working-directory: ./AppJava      # <--- Ajuste clave

      - name: Confirmación de ejecución
        run: echo "CI ejecutada correctamente para ${{ github.ref }}"
